<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books</title>

  <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="orange darken-3">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Books</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/search">Search a book</a></li>
        <li><a href="/">All books</a></li>
        <% if (loggedIn) { %>
          <li><a href="/add">Add</a></li>
          <li><a href="/logout">Logout as admin</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
  <div class="container">