<% include partials/header.ejs %>
<br>
<h3 class="bold">Book title: <%= book_name %></h3>
<h5>Author: <%= book_author %></h5>
<h6>Genre: <%= book_genre %></h6>
<p>Description: <%= book_description %></p>

<% include partials/footer.ejs %>